body {
  background-color: black;
  color: white;
}

table, th, td {
  text-align: center;
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background-color: #0f0f0f;
}

.tableitemleftalign {
  text-align: left;
}

div.imageSection::after {
  content: "";
  clear: both;
  display: table;
}

.image {
  float: left;
  width: 80%;
  padding: 5px;
}

.leftArrow, .rightArrow {
  float: left;
  width: 7%;
  padding: 5px;
}

a:link {
  color: cornflowerblue;
}

a:visited {
  color: darkviolet;
}

img {
  max-width: 100%;
  height: auto;
}

div.shotlist {
  border: 1px solid gray;
  float: left;
  min-width: 120px;
  margin: 5px;
}

.shotlistimage {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.shotlisttext {
  text-align: center;
}
